body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

.legend label,
.legend span {
  display:block;
  float:left;
  height:15px;
  width:20%;
  text-align:center;
  font-size:9px;
  color:#808080;
  }

/* Preciso dar override nos estilos do mapbox para poder fazer os layouts do jeito que quero */
.map-legends {
  background: none;
  border-radius: 0;
  box-shadow: none;
  max-width: 100vw; /* essencialmente desativando o max-width */
}

/*#map > div.leaflet-control-container > div.leaflet-bottom.leaflet-left > div.map-legends.wax-legends.leaflet-control {*/
#legenda-container {
  background-image: linear-gradient(to left, rgba(254, 77, 61, 0.85), rgba(244, 121, 42, 0.93));
  border-radius: 3;
  padding: 7px;
}

/* Vamos diminuir um pouco essa legenda aí da transoceanica */
@media(max-width: 999px) {
  #legenda-container {
    zoom: 70%;
  }
}

#legenda-transoceanica-titulo {color: #fff}

#navegue-pelo-mapa-em-amarelo {color: #FFD53D}

#paragrafo-legenda-transoceanica {
  color: #fff;
  font-size: 18px;
  /*line-height: 1.5rem;*/
  /*opacity:1 !important;*/
  }

#tile-grandao {
  min-width: 75vw;
  max-width: 85vw;
  /*min-height:vh;*/
}
@media (max-width:767px) {
  #tile-grandao {
    max-width: 110vw;
    /*min-height:40vh;
    max-height:50vh;*/
    zoom: 0.5;
  }
}

@media (min-width: 768px) and (handheld) {
  #tile-grandao {
    max-width: 50vw;
    /*min-height:40vh;
    max-height:50vh;*/
    zoom: 1%;
  }
}

/* Isto aqui é daquela parte vish-muita-treta de fazer o  menuzao em cima do leaflet */
.titulo-da-parte-de-onibus {
  background-color: #fff;
  border-color: #fff;
  padding: 12px;

}
.titulo-da-parte-de-onibus > p {
  font-size: 18px;
  color: #FE4D3B;
}
/*@media (max-width:999px) {
  font-size: 1rem;
}*/


#coluna-do-desenho-do-onibus {
  background-color: #FD4D3D ;
  padding: 12px;
}
#coluna-do-desenho-do-onibus > p {
  color: #fff;
  font-size: 10px;
  line-height: 1;
}
#coluna-do-desenho-do-onibus > p > span {
  font-weight: bold;
}

#coluna-dos-textao-tudo {
  background-color: #EEEDEB;
}

.resto-da-parte-de-onibus {
  padding: 12px;
  line-height: 2.5;
  color: #9C9C9C;
}

.texto-promocional-onibus-coluna {
  text-align: center;
  font-weight: bold;

}

.texto-promocional-onibus-coluna-huge {
  color: #FE4D3B;
  font-size: 24px;
}

#resto-da-parte-de-onibus-primeira-coluna {
  border-width: 1px;
  /* top | right | bottom | left */
border-style: none none dotted none;

}

#resto-da-parte-de-onibus-segunda-coluna {
  border-width: 1px;
border-style: none none dotted dotted;
}

#resto-da-parte-de-onibus-terceira-coluna {
  border-width: 1px;
border-style: none none dotted dotted;
}

.paragrafo-promocional-onibus {
  /*line-height: 20px;*/
  padding-bottom: 5px;
  border-bottom-style: dotted;
  border-width: 1px;
}
.paragrafo-promocional-onibus > span {
  color: #FE4D3B;
  font-weight: bold;
}

/* parte de fechar janela */
#tile-de-fechar-janela {
  max-height: 48px;
}

@media (max-width: 999px) {
  #botao-fechar-legenda-giganta {
  height: 75px !important;
  width: 75px !important;
}
}

/* Tile do antes e depois */
@media (max-width: 999px) {
  #tile-do-antes-e-depois {
    display: none;
  }
}

#tile-do-antes-e-depois {
  max-height: 400px !important;
}

#tile-do-antes-e-depois > p {
  color: #fff;
  text-align: center;
  background-color: #FD4D3D;
  padding-top: 10px;
  padding-bottom: 10px;
}
#tile-do-antes-e-depois > p > span {
  color: #FFD53D;
}

/* Legenda de cores */
#legenda-linhas-interno {
  background-color: #fff;
  padding: 5px;
  border-radius: 3px;
}
.quadrado {
  float: left;
  width: 30px;
  height: 5px;
  margin: 7px;
  /*border: 1px solid rgba(0, 0, 0, .2);*/
}

/* Diminuir tamanho das fotos */
.ba-slider > img {
max-height: 350px !important;
  /*width: auto;
  max-width: 100%;*/
}
.ba-slider > .resize > img {
  max-height: 350px !important;
}

.bhs-stations-popup .leaflet-popup-content-wrapper {
  background: #fd4d3d;
  color: #fff !important;
}

.bhs-stations-popup .leaflet-popup-tip {
 border-left:15px solid transparent;
 border-right:15px solid transparent;
 border-top:15px solid #fd4d3d;
}

.returns-popup .leaflet-popup-content-wrapper {
  background: #8dc53f;
  color: #fff !important;
}

.returns-popup .leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #8dc53f;
}

.passages-popup .leaflet-popup-content-wrapper {
  background: #f58b33;
  color: #fff !important;
}

.passages-popup .leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #f58b33;
}

/* Remove o logo do mapbox */
.mapbox-logo {
  display: none !important;
}

/* Para acertar a cor do slider */
.ba-slider .handle:after {
  background: #FD4D3D !important;
  border: 1px solid #FD4D3D !important;
  box-shadow: none !important;
}

#tile-do-texto-de-acompanhamento {
  max-height: 400px;
}

/* Fixes para telas minúsculas */
@media (max-width: 767px) {
  .resto-da-parte-de-onibus > .columns > .column {
    padding-left: 10px;
    padding-right: 10px;
  }

  .paragrafo-promocional-onibus {
    font-size: 20px !important;
  }
  #coluna-do-desenho-do-onibus > p {
    font-size: 19px !important;
  }

}