body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

.legend label,
.legend span {
  display:block;
  float:left;
  height:15px;
  width:20%;
  text-align:center;
  font-size:9px;
  color:#808080;
  }

/* Preciso dar override nos estilos do mapbox para poder fazer os layouts do jeito que quero */
.map-legends {
  background: none;
  border-radius: 0;
  box-shadow: none;
  max-width: 100vw; /* essencialmente desativando o max-width */
}

/*#map > div.leaflet-control-container > div.leaflet-bottom.leaflet-left > div.map-legends.wax-legends.leaflet-control {*/
#legenda-container {
  background-image: linear-gradient(to left, rgba(254, 77, 61, 0.85), rgba(244, 121, 42, 0.93));
  border-radius: 3;
  padding: 7px;
}

#legenda-transoceanica-titulo {color: #fff}

#navegue-pelo-mapa-em-amarelo {color: #FFD53D}

#paragrafo-legenda-transoceanica {
  color: #fff;
  font-size: 18px;
  /*line-height: 1.5rem;*/
  /*opacity:1 !important;*/
  }

#tile-grandao {
  min-width: 75vw;
  max-width: 85vw;
  /*min-height:vh;*/
}

/* Isto aqui é daquela parte vish-muita-treta de fazer o  menuzao em cima do leaflet */
.titulo-da-parte-de-onibus {
  background-color: #fff;
  border-color: #fff;
  padding: 12px;
  
}
.titulo-da-parte-de-onibus > p {
  font-size: 18px;
  color: #FE4D3B;
}


#coluna-do-desenho-do-onibus {
  background-color: #FD4D3D ; 
  padding: 12px;
}
#coluna-do-desenho-do-onibus > p {
  color: #fff;
  font-size: 10px;
  line-height: 1;
}
#coluna-do-desenho-do-onibus > p > span {
  font-weight: bold;
}

#coluna-dos-textao-tudo {
  background-color: #EEEDEB;
}

.resto-da-parte-de-onibus {
  padding: 12px;
  line-height: 2.5;
  color: #9C9C9C;
}

.texto-promocional-onibus-coluna {
  text-align: center;
  font-weight: bold;
  
}

.texto-promocional-onibus-coluna-huge {
  color: #FE4D3B;
  font-size: 24px;
}

#resto-da-parte-de-onibus-primeira-coluna {
  border-width: 1px;
  /* top | right | bottom | left */
border-style: none none dotted none;

}

#resto-da-parte-de-onibus-segunda-coluna {
  border-width: 1px;
border-style: none none dotted dotted;
}

#resto-da-parte-de-onibus-terceira-coluna {
  border-width: 1px;
border-style: none none dotted dotted;
}

.paragrafo-promocional-onibus {
  /*line-height: 20px;*/
  padding-bottom: 5px;
  border-bottom-style: dotted;
  border-width: 1px;
}
.paragrafo-promocional-onibus > span {
  color: #FE4D3B;
  font-weight: bold;
}

/* parte de fechar janela */
#tile-de-fechar-janela {  
  max-height: 48px;
}

/* Tile do antes e depois */
#tile-do-antes-e-depois > p {
  color: #fff;
  text-align: center;
  background-color: #FD4D3D;
  padding-top: 10px;
  padding-bottom: 10px;
}
#tile-do-antes-e-depois > p > span {
  color: #FFD53D;
}

/* Legenda de cores */
#legenda-linhas-interno {
  background-color: #fff;
  padding: 5px;
  border-radius: 3px; 
}
.quadrado {
  float: left;
  width: 10px;
  height: 10px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

/* Diminuir tamanho das fotos */
/*.cocoen > img {
  max-height: 350px;
}*/
